In [5]:
# Function definition is here
def changeme( mylist ):
   '''This changes a passed list into this function'''
   mylist = [1, 2, 3, 4] # This would assign new reference in mylist
   print("Values inside the function  : ", mylist)

# Now you can call changeme function
mylist = [10, 20, 30]
changeme( mylist )
print("Values outside the function : ", mylist)

Values inside the function  :  [1, 2, 3, 4]
Values outside the function :  [10, 20, 30]

In [32]:
def fungsi_saya(p, 1):
    '''This changes a passed list into this function'''
    print(p*1)

fungsi_saya(5, 2)

SyntaxError: invalid syntax (Temp/ipykernel_15268/392579638.py, line 1)

In [13]:
def luas_segitiga(alas, tinggi):
    luas= (alas* tinggi)/2
    print("luas segitiga= %.2f" %luas)

luas_segitiga(4,6)

luas segitiga= 12.00

##### __key word__

In [21]:
def nama_orang(*nama):
    print('teman saya namanya:' + nama[3])
    
nama_orang("irfan", "tono", "joko","kondo")

teman saya namanya:kondo

In [29]:
def printinfo( name = 'Tanpa Nama', age = 'Malu sama umur?' ):
   '''This prints a passed info into this function'''
   print("Name : ", name)
   print("Age  : ", age)
   print("")

# Now you can call printinfo function
printinfo( age=50, name="hacktiv8" )
printinfo( )

Name :  hacktiv8
Age  :  50

Name :  Tanpa Nama
Age  :  Malu sama umur?

###### asterik

In [31]:
def printinfo( arg1, *vartuple ): # aterik tanda (*)
# def printinfo(arg1, arg2, arg3, arg4):
   '''This prints a variable passed arguments'''
   print('arg1     : ', arg1)
   print('vartuple : ', vartuple)
   print('')
   
   for var in vartuple:
      print('isi vartuple : ', var) 

# Now you can call printinfo function
printinfo( 10 )
printinfo( 70, 60, 50, "a" )

arg1     :  10
vartuple :  ()

arg1     :  70
vartuple :  (60, 50, 'a')

isi vartuple :  60
isi vartuple :  50
isi vartuple :  a

In [33]:
def person_car(total_data, **kwargs):
  '''Create a function to print who owns what car'''
  print('Total Data : ', total_data)
  for key, value in kwargs.items():
    print('Person : ', key)
    print('Car    : ', value)
    print('')

person_car(3, jimmy='chevrolet', frank='ford', tina='honda')
person_car(3)

Total Data :  3
Person :  jimmy
Car    :  chevrolet

Person :  frank
Car    :  ford

Person :  tina
Car    :  honda

Total Data :  3

In [41]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2

# That lambda function will be equal to :
# def sum(arg1, arg2):
#     return arg1+arg2

# Now you can call sum as a function
print("Value of total : ", sum( 10, 20 ))
print("Value of total : ", sum( 20, 20 ))

Value of total :  30
Value of total :  40

In [43]:
def hitung(x,y):
    return x**2+y**2
    
hitung(2,3)

13

In [45]:
hitung = lambda x,y : x**2+y**2
hitung(2,3)

13

In [46]:
def sum(arg1, arg2):
    # Add both the parameters and return them."
    total = arg1 + arg2
    return total

# Now you can call sum function
total = sum(10, 20)
print("Result function : ", total)

Result function :  30

In [48]:
nama = 'tomo'

def myfunc():
    nama = "broker"
    print('Saya adalah :', nama)
    
myfunc()

Saya adalah : broker

In [50]:
nama = 'tomo'

def myfunc():
    nama = "broker"
    print('Saya adalah :', nama)
    
print('Saya adalah :', nama)

Saya adalah : tomo

In [56]:
import Lagi
print(Lagi.name)

zack

In [60]:
Lagi.devices

['laptop', 'smartphone', 'tablet']

In [61]:
from Lagi import name #tanpa perlu import devinisi "name" dari "Lagi"
name

'zack'

In [69]:
from Lagi import devices 
devices

['laptop', 'smartphone', 'tablet']

In [70]:
name

'zack'

In [68]:
devices

['laptop', 'smartphone', 'tablet']

In [72]:
import Lagi
print(Lagi.name)

zack

In [75]:
import Lagi
display('')

arg =

In [76]:
from Lagi import name as n
n

'zack'

In [77]:
n

'zack'

In [78]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [79]:
import numpy as np

In [81]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [84]:
np.zeros(3)

array([0., 0., 0.])

In [85]:
np.ones(2)

array([1., 1.])

In [86]:
np.empty(1)

array([1.])

In [95]:
print(np.arange(4))
print(np.arange(1, 30, 20))

[0 1 2 3]
[ 1 21]

In [92]:
print(np.arange(4))
print(np.arange(0,10,2)) # (start, stop, step)

[0 1 2 3]
[0 2 4 6 8]

In [103]:
tinggi = [1.73, 1.68, 1.71, 1.86, 1.87]
berat = [65.4, 59.2, 63.2, 88.4, 68.7]
berat/tinggi**2 #Tanpa Array

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [97]:
tinggi = [1.73, 1.68, 1.71, 1.86, 1.87]
berat = [65.4, 59.2, 63.2, 88.4, 68.7]
np_tinggi = np.array (tinggi)
np_berat = np.array (berat)
np_berat/np_tinggi**2

array([21.85171573, 20.97505669, 21.61348791, 25.55208695, 19.64597215])

In [100]:
arr= np.array([1, 2, 3, 4, 5])
np.append(arr, [6, 7, 8])

array([1, 2, 3, 4, 5, 6, 7, 8])

In [102]:
panjang = np.array([1, 2, 4, 5])
lebar = np.array([4, 5, 5, 7])

luas= panjang*lebar
luas

array([ 4, 10, 20, 35])

In [108]:
np.delete(arr, 3)

array([1, 2, 3, 5])

In [117]:
x in range(1, 20,1)
print(x)

range(1, 20)